<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header" style="text-align: center">
                <!-- <h3>Supplier Sidebar</h3> -->
                <a href="https://www.xpedize.com" target="_blank"><img src="../assets/xpd_logo_black.png" alt="xpd" class="img-responsive" height="100vh" width="200vw"></a>
            </div>

            <ul class="list-unstyled components" id="sidenav">
                <li>
                    <a href="#" class="active"><span style="margin: 0px 5px"><i class="fa fa-list"></i></span> DashBoard</a>
                </li>
                <li>
                    <a href="#"><span style="margin: 0px 5px"><i class="fa fa-truck"></i></span> Supplier View</a>
                </li>
                <li>
                    <a href="#"><span style="margin: 0px 5px"><i class="fa fa-file-text" aria-hidden="true"></i></span> Invoice View</a>
                </li>
                <li>
                    <a href="#"><span style="margin: 0px 5px"><i class="fa fa-list-ol" aria-hidden="true"></i></span> Offer View</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="background-color: inherit;color: rgb(60, 79, 141);border: none;" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation" (click)="openSideNav()">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <!-- <ul class="nav navbar-nav ml-auto"> -->
                            <!-- <li class="nav-item active">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="#" class="notification-icon"><i class="glyphicon glyphicon-bell"></i></a>
                            </li> -->

                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Page</a>
                            </li> -->
                        <!-- </ul> -->
                        <ul class="nav navbar-nav ml-auto">
                            <li class="active nav-item ml-auto"><a href="#" class="nav-link"><i class="fa fa-bell fa-lg" aria-hidden="true"></i><span class="badge badge-pill badge-warning" style="vertical-align: top" data-toggle="dropdown">4</span></a></li>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                  <!-- inner menu: contains the actual data -->
                                  <ul class="menu">
                                    <li>
                                      <a href="#">
                                        <i class="fa fa-users text-aqua"></i> Lorem ipsum dolor sit amet
                                      </a>
                                    </li>
                                  </ul></li></ul>
                            <li></li>
                            <li class="nav-item ml-auto">
                               <a href="#" class="nav-link"><img src="../assets/ms_logo.png" alt="ms" height="30vh" width="30vw" class="img-responsive"></a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
           <div>
            <h5 class="" style="text-align: left">DashBoard</h5>
            <p style="font-size: 5px"  style="text-align: right"><b><b><span><i class="fa fa-list" aria-hidden="true"></i> </span> Home <span>></span> Dashboard</b></b></p>
           </div>

           <br>

           <div class="container">
            <div class="row">
                <!--  -->
                <div class="col-md-3 col-sm-4 col-xs-6" id="first" style="margin: 5px 40px;border-radius: 10px;min-width: 21vw;padding: 20px 10px">
                        <div style="text-align: left;float: left;color: white">

                                <span style="font-size: 14px">Days Recieved Early</span>    <br>
                                <span style="font-size: 20px">41</span>     <br>
                                <span style="font-size: 14px">Amount Discounted (Till Date)</span>  <br>
                                <span style="font-size: 20px">{{disAmount}}</span>  <br>

                        </div>
                        <div style="text-align: right;float: right;">
                            <br>
                            <span><img src="../assets/1.png" alt="x" height="60px"  width="60px" style="vertical-align: middle"></span>
                            <br>
                        </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6" style="margin: 5px 40px;min-width: 21vw;padding: 20px 10px;border-radius: 10px" class="bg bg-primary">
                        <div style="text-align: left;float: left;color: white">

                                    <span style="font-size: 12px">Amount Under Clearing</span>    <br>
                                    <span style="font-size: 20px">{{netAmount}}</span>     <br>
                                    <span style="font-size: 12px">Number Of Invoices</span>  <br>
                                    <span style="font-size: 20px">{{noInv}}</span>  <br>

                            </div>
                            <div style="text-align: right;float: right;">
                                <br>
                                <span><img src="../assets/coins-money-stack.png" alt="x" height="60px"  width="60px" style="vertical-align: middle"></span>
                                <br>
                            </div>
                </div>
                <div class="col-md-3 sm-4 col-xs-6" style="background-color: limegreen;margin: 5px 40px;min-width: 21vw;padding: 20px 10px;border-radius: 10px">
                        <div style="text-align: left;float: left;color: white">

                                    <span style="font-size: 12px">Total Amount</span>    <br>
                                    <span style="font-size: 20px">{{tAmount}}</span>     <br>
                                    <span style="font-size: 12px">Total Invoices</span>  <br>
                                    <span style="font-size: 20px">{{noInv}}</span>  <br>

                            </div>
                            <div style="text-align: right;float: right;">
                                <br>
                                <span><img src="../assets/invoice_icon_image.png" alt="x" height="60px"  width="60px" style="vertical-align: middle"></span>
                                <br>
                            </div>
                </div>
           </div>
           <br>
           <div class="row"  style="border-radius: 10px;border: 1px solid black;margin: 10px 10px;padding: 8px 0px;font-size: 14px">
             <div class="col-md-2">
               <div style="text-align:center;"><b>Location</b></div>
               <div>
                <select class="selectpicker form-control" [disabled]="iData" style="border:none;border-bottom-style:groove;background-color:inherit"
                    name="dropdownCompanyLocations" [(ngModel)]="selectedLocation" (change)="getInvoicesForLocation($event.target.value)">
                    <optgroup *ngFor="let location of lstCompanyLoations">
                        <option value="{{location.id}}">{{location.name}}</option>
                    </optgroup>
                    <!-- <option>Manesar</option>
                    <option value="">Pune</option>
                    <option value="">Chennai</option> -->
                </select>
               </div>
             </div>

             <div class="col-md-3">
                <div style="text-align:center;"><b>New Due Date</b></div>
                <div class="input-group date" data-provide="datepicker">
                  <input type="date" class="form-control" [(ngModel)]="date" [disabled]="iData" value="2011-01-13" style="border:none;border-bottom-style: groove;background-color:inherit">
              </div>
             </div>

             <div class="col-md-3">
                <div style="text-align:center;font-size: 17px"><b>Discount Percentage</b></div>
                <div style="text-align:center;font-size: 13px">Per 30 Days</div>
             </div>

             <div class="col-md-2">
                    <input type="number" class="input" style="width: 60px" min="0.00" max="100" [(ngModel)]="disPercent" style="border:none;border-bottom-style:groove;color:limegreen;font-size:17px;text-align: center;background-color:inherit" (change)="reset()"><span style="font-size:17px;"> <b> % </b> </span>
             </div>

           </div>
           <div style="margin: 10px 10px;padding: 8px 0px;font-size: 14px">
            <button class="btn btn-success" (click)="loadData()" style="float:left;font-size: 14px" *ngIf="!iData">Fetch Invoices</button>
            <button class=" btn btn-danger" (click)="clearData()" style="float: left;font-size: 14px" *ngIf="iData">Clear Data</button>
           </div>
           <br>

           <div class="container" style="border-radius: 10px;border: 1px solid black;margin: 10px 10px;font-size: 14px">
            <div class="row" style="padding: 8px 0px">
                <div class="col-md-2" style="text-align:center;border-right-style: groove">
                    <div>Total Invoices</div>
                    <div style="color:blue"><b>{{noInv}}</b></div>
                </div>
                <div class="col-md-2" style="text-align:center;border-right-style: groove">
                  <div>Total Amount</div>
                  <div style="color:blue"><b>INR {{tAmount}}</b></div>
                </div>
                <div class="col-md-1" style="text-align:center;border-right-style: groove">
                  <h6>Due Date</h6>
                  <div style="color:blue"><b>{{date | date:'shortDate'}}</b></div>
                </div>
                <div class="col-md-2" style="text-align:center;border-right-style: groove">
                  <h6>Discount %</h6>
                  <div style="color:blue"><b>{{disPercent}}</b></div>
                </div>
                <div class="col-md-2" style="text-align:center;border-right-style: groove">
                    <h6>Discount Amount</h6>
                    <div style="color:blue"><b>INR {{disAmount}}</b></div>
                </div>
                <div class="col-md-2" style="text-align:center;border-right-style: groove">
                    <h6>Net Amount</h6>
                    <div style="color:blue"><b>INR {{netAmount}}</b></div>
                </div>
                <div class="col-md-1" style="vertical-align:middle">
                    <div>
                        <button class="btn btn-success" style="font-size: 14px">Submit</button>
                    </div>
                </div>
           </div>

            <div class="container" style="background-color:lightgray;padding: 8px 0px;border: 1px solid black;margin: 5px 0px">
                <div class="row" style="background-color: inherit;margin: 8px 15px">
                    <div class="col-md-2" >
                       <div><a><b>Invoice Number</b></a></div>

                   </div>
                   <div class="col-md-2">
                        <div><b>Amount Due</b></div>
                   </div>
                   <div class="col-md-1">
                        <div><b>Due Date</b></div>

                   </div>
                   <div class="col-md-2">
                        <div><b>Discount %</b></div>

                   </div>
                   <div class="col-md-2">
                       <div><b>Discount Amount</b></div>

                   </div>
                   <div class="col-md-2">
                       <div><b>Net Amount</b></div>
                   </div>
                    <div class="col-md-1">
                        <div><b>Select All</b></div>
                   </div>
               </div>

               <div *ngIf="lstInvoices" class="ScrollStyle">
                   <div *ngFor="let invoice of lstInvoices; let sr=index">
                    <div class="row" id="fetchedInvoice">
                        <div class="col-md-2" title="Invoice Name">
                           <div>{{ sr+1 }}_{{invoice.invoiceNumber}}</div>

                       </div>
                       <div class="col-md-2" title="Amount Due">
                            <div>{{invoice.totalTrasactionValue}}</div>

                       </div>
                       <div class="col-md-1" title="Due Date">
                            <div>{{invoice.dueDate}}</div>
                            <div><small></small></div>

                       </div>
                       <div class="col-md-2" title="Discount Percent">
                            <div>{{invoice.discountAmount}}</div>

                       </div>
                       <div class="col-md-2" title="Discounted Amount">
                           <div>{{invoice.discountAmount}}</div>

                       </div>
                       <div class="col-md-2" title="Amount Due">
                           <div>{{invoice.totalTransactionValue - invoice.discountAmount}}</div>
                       </div>
                       <div class="col-md-1">
                            <div *ngIf="i.sts === true" style="color: limegreen">
                                <!-- <b>Selected</b> -->
                                <label class="switch">
                                    <input type="checkbox" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div *ngIf="i.sts === false" style="color: red">
                                <!-- <b>Not Selected</b> -->
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                       </div>
                   </div>

                   </div>
               </div>
            </div>

           </div>

           <br>
           </div>
        </div>
    </div>

    <footer class="footer text-right bg-inverse" title="Copyright © 2018-2019 Xpedize. All rights reserved.">
         <p >Copyright © 2018-2019 <strong>Xpedize</strong>. <small> All rights reserved.</small></p>
      </footer>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        <!--<script type="text/javascript">-->
        <!--$(document).ready(function () {-->
            <!--$('#sidebarCollapse').on('click', function () {-->
                <!--$('#sidebar').toggleClass('active');-->
            <!--});-->
        <!--});-->
        <!--</script>-->
</body>

</html>
