  <footer class="main-footer text-right" style="background-color:#e3eaf3; font-size: 12px;">
    <strong> © Xpedize Ventures Private Limited 
      | 
      <a href="https://www.xpedize.com/contact.php" target="_blank" style="color:dodgerblue">
            <i class="fa fa-fw fa-phone"></i> <span>Contact Us</span>
      </a> 
      | 
      <a href="mailto:info@xpedize.com" style="color:dodgerblue">
        <i class="fa fa-fw fa-comments"></i> <span>Feedback</span>
      </a> 
      | 
      <span style="margin: 0px 5px">
        <small>
          <a routerLink="/terms" target="_blank" style="color:dodgerblue">Terms & Conditions</a>
      </small> 
      | 
        <small>
          <a routerLink="/privacy-policy" target="_blank" style="color:dodgerblue">Privacy Policy</a>
        </small>
      </span> 
      |
      <small>Version: 1R3.0</small>
    </strong>
  </footer>