<div class="container">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="openModal" #openModal style="display:none">View Terms And Conditions</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" (click)="onReject()" style="color: red"><b>&times;</b></button>
          <h4 class="modal-title"><a href="https://www.xpedize.com" target="_blank" style="color:dodgerblue">Xpedize</a> : <small>Terms And Conditions</small></h4>
        </div>
        <div class="modal-body">
          <pre onmousedown="return false" onselectstart="return false">
STANDARD TERMS AND CONDITIONS FOR SUPPLY OF GOODS AND SERVICES OF
Xpedize Ventures Private Limited.

NOW THIS AGREEMENT WITNESSES THE TERMS AND CONDITIONS AS FOLLOWS:
By registering as a user of the Site or the Service, you (“you” refers to
you both (i) as an individual and (ii) as an authorized representative of
the company you represent) represent and warrant that you are accessing 
the Service on behalf of the company (the “Supplier”) to whom we have 
issued the login credential basis the information provided by Buyer.

You hereby represent and warrant that you have the authority to legally 
bind the Supplier, and that you are duly authorized to enter into this 
Agreement on behalf of the Supplier. The Service is provided to you at 
the website www.xpedize.com or www.supplier.xpedize.com (the “Site”).The
Site, the Service and any other services provided by 
XPEDIZE Ventures Pvt Ltd (“XPEDIZE”) related to the Site or the Service 
are intended for use only by the Supplier and its Authorized Users.

Access to and use of the Services by Supplier and its Authorized Users is
conditioned upon acceptance of this Agreement. By clicking the “Accept”
button below, you accept and consent to be bound by the then-current 
terms of use on behalf of the Supplier (the “Agreement”) and further 
represent and warrant that this Agreement creates a binding contract 
between XPEDIZE and the Supplier. XPEDIZE and the Supplier may be referred
to individually as a “Party” and collectively as the “Parties”.

The Agreement may be updated from time to time in XPEDIZE’s sole 
discretion.Each time an Authorized User of the Supplier clicks “Accept ”
or accesses the Site or the Service using an Authorized User’s User Name
and Password,the Supplier agrees to be bound by the terms and provisions
of the then-current Agreement.

1. DEFINITIONS
The following are the definitions that apply in this Agreement.
1.1 “Affiliate” means with respect to a Party, any corporation or other
entity that controls, is controlled by, or is under common control with,
a Party.
1.2 “Authorized Supplier” means a third-party supplier to Buyer who:
(i) is authorized by Buyer to use the Service and access the Site; and 
(ii) has agreed to all terms and conditions in accordance with allowable
usage.
1.3 “Authorized User” means a user who is authorized by Supplier to access
and use the Service on behalf of the Supplier.
1.4 “Buyer” means a party that has contracted with XPEDIZE for purposes of
processing selected invoices from the Supplier through the XPEDIZE working
capital marketplace to provide accelerated payment of some or all of such 
selected invoices in exchange for a discount on the invoiced amount.
1.5 “XPEDIZE Closing Timing” means the time identified on the Site from 
time to time at the sole discretion of Xpedize at which the activity for
a local business day closes.
1.6 “Confidential Information” means:
(i) With regard to XPEDIZE, all XPEDIZE Information, software, inventions,
know-how, ideas, programs, apparatus programs, and Intellectual Property 
Rights related to, connected with or arising out of the Service;
(ii) With regard to Buyer or Supplier, any non-public information 
regarding the business or business partners of Supplier or Buyer, in whole
and in part; and
(iii) With regard to either Party, the terms, conditions, pricing and 
other contents of this Agreement, any other information, technical data,
or know-how, including, but not limited to, that which relates to research
,product plans, products, services, customers, markets, software, software
code, software documentation, developments, inventions, lists, trade
secrets, data compilations, processes, designs, drawings, engineering,
hardware configuration information, marketing or finances.

Notwithstanding the foregoing, Confidential Information does not include
Market Statistics, and information, data or know-how which:
 i) Is in the public domain at the time of the disclosure or becomes
 available to the public thereafter without restriction, and not as
 a result of the act or omission of the receiving Party;
 ii) Is rightfully obtained by the receiving Party from a third party
 without restriction as to disclosure;
 iii) Is lawfully in the possession of the receiving Party at the time
 of the disclosure;
 iv) Is approved for release by written authorization of the disclosing
 Party; or
 v) Is developed independently and separately by the receiving Party
 without use of the disclosing Party’s Confidential Information.

1.7 “Content” means any data, information or materials provided to XPEDIZE
by or relating to Supplier, in any media known now or in the future, for
use with the Service.
1.8 “Data Protection Laws” means all relevant and applicable state and
provincial data privacy standards, including, but not limited to,
Information Technology Act, 2000, the Indian Contract Act, 1872 and Data
(Privacy and Protection) Bill, 2017 that relate to the processing or the
security of Personal Data and which are applicable to the processing of
Personal Data by XPEDIZE, and any subsequent laws passed by the Indian
Government.
1.9 “Force Majeure” means events or conditions beyond a Party’s reasonable
control, including, without limitation, acts of common enemy, earthquakes,
floods, fires, epidemics, terrorist attacks, embargoes, strike, fire,
governmental acts or orders or restrictions, acts of God, lack of internet
availability, inability to secure products or services from third parties,
or any other reason where failure to perform is not caused by the
negligence of the nonperforming Party.
1.10“Information” means any technical, or business information in written,
graphical, oral, or other tangible or intangible forms, including but not
limited to specifications, drawings, tools, samples, reports,compilations,
records, data, computer programs, drawings, models, and secrets.
1.11 “Intellectual Property Rights” means any patent rights, copyrights,
trade secrets, trade names, service marks, trademarks, moral rights,
know-how and any other similar rights or intangible assets recognized
under any laws or international conventions, and in any country or
jurisdiction in the world, as intellectual creations to which rights
of ownership accrue, and all registrations, applications, disclosures,
renewals, extensions, continuations or reissues of the foregoing now
or hereafter in force.
1.12 “Market Statistics” means any summarized, derivative, aggregated,
de-identified, or non-attributable information associated with
Transaction Information that may be combined with other information
to optimize, construct, provide or improve XPEDIZE’s performance,
modelling, products or services.
1.13 “Party” or “Parties” means, individually or collectively, as the
case may be, XPEDIZE and Supplier and any and all permitted successors
and assigns.
1.14 “Request File” means an electronic file compiled of submitted
offers of additional discount from Authorized Suppliers to the Buyer
to accelerate payment of Buyer approved invoices, resulting in
discounts to the face value of the invoice.
1.15 “Software” means (i) any proprietary XPEDIZE computer software
program or application, or those of its third party licensors, utilized
by XPEDIZE in the establishment, operation, and/or the provision of
the Service including any proprietary schema, data processing or storing
applications, tools, methodologies, databases and (ii) all source code,
documentation, updates, upgrades, and derivative works thereof.
1.16 “Service” branded as “XPEDIZE” means XPEDIZE’s proprietary electronic
invoice prepayment discount based application services platform, any
financing as arranged by Xpedize on request of Supplier or Buyer ,
related tools, and other services accessed and used by Buyer
(pursuant to this Agreement) and its Authorized Users to offer,
accept, and document (in the form of various Files or information
exchanged with the users of the Site) the acceleration of payment
at a discount to face value of selected invoices as provided by Buyer,
including any successor or replacement or future services offering the
same or more functionality than its predecessor.
1.17 “Supplier Services” means any consultancy services such as
implementation, training or support, financing from a third party to be
provided by XPEDIZE as set out in the signup process or as agreed between
the Supplier and XPEDIZE in writing from time to time.
1.18 “Transaction Information” means all data, Content, and information
generated or posted through the Service that is disclosed directly or
indirectly to XPEDIZE by any party, but shall not include any
information which was at the time of disclosure within an enumerated
exception to the definition of Confidential Information.

2. SERVICE ACCESS
2.1 Use. XPEDIZE hereby grants the Supplier a non-exclusive,
non-transferable, limited right to permit Authorized Users to access and
use the Service, subject to the following restrictions: (i) the Supplier
may use the Service solely for the Supplier’s own internal business
purposes; and (ii) the Supplier shall not (A) make any copies of all or
any portion of the Service; (B) sell, sublicense, distribute, rent, lease
or assign the Service to any other person or entity; (C) modify, reverse
engineer, decompile, disassemble, translate, alter or create derivative
worksbased on the Service; (D) except for Authorized Users, permit any
third party to use the Service; or (E) create Internet “links” to or from
the Service, or “frame” or “mirror” any content forming part of the
Service, other than on the Supplier’s or its Authorized Users’ own
intranets or otherwise for its own internal business purposes, (F)
send spam or other duplicative or unsolicited messages in violation of
applicable laws, (G) send or store infringing, obscene, threatening,
libelous, or otherwise unlawful or tortuous material, including material
harmful to children or violative of third party privacy rights, (H)
send or store material containing software viruses, worms, Trojan horses
or other harmful computer code, files, scripts, agents or programs, (I)
interfere with or disrupt the integrity or perform of the Service or the
data contained therein; (J) attempt to gain unauthorized access to the
Service or its related systems or networks.
2.2 Access to the Service. XPEDIZE shall provide access to the loginscreen
to Supplier on the instruction of, and on behalf of,the Buyer and Supplier
shall be permitted to create a unique login credential (“User Name” and
“Password”) to be used by Authorized Users to access the Services. The
Supplier is responsible for maintaining the confidentiality of any User
Names and Passwords. The Supplier will be solely responsible and liable
for all activities that occur under any User Name and Password created by
to the Supplier. The Supplier shall immediately notify XPEDIZE of any
unauthorized use of any User Name or Password and XPEDIZE shall take such
action as it deems appropriate to address the unauthorized use. The
Supplier agrees on its own behalf, and to require its Authorized Users
on their behalf, to access the Service in a secure manner in compliance
with XPEDIZE’s reasonable standards established from time to time which
currently require, to the extent applicable, use of web browsers
utilizing SSL encryption.

3. SCOPE, AVAILABILITY AND MODIFICATIONS
3.1 Scope of Service. The Service is intended to enable transactions
between the Supplier and Buyers as principals and XPEDIZE does not
act for or represent in any way either the Supplier or any Buyers.
XPEDIZE is not a party to, third party beneficiary of, or a guarantor
of performance with respect to any transaction, agreement or
arrangement concluded between the Supplier and any Buyer using the
Service. Specifically, (i) XPEDIZE does not control the quality, safety,
legality or availability of the content or services accessed through the
Service, the terms and conditions on which the Content, goods, and/or
related services accessed are provided, or the Suppliers’ compliance
with any agreement that it may execute with a Buyer;
(ii) XPEDIZE undertakes no duties to receive or distribute any payments
agreed by the Supplier and any Buyer; and (iii) under no circumstances
shall XPEDIZE in any manner obtain an interest in, or otherwise be deemed
to be within the chain of title of, any Content, goods, and/or related
services accessed of the Supplier.Supplier acknowledges that XPEDIZE takes
no responsibility for the terms and conditions governing the provision of
any Supplier Content, goods, and/or related services. The Supplier shall
address any issues arising from any transaction, agreement or arrangement
concluded between the Supplier and any Buyers using the Service
exclusively with the relevant Buyer and shall not hold XPEDIZE
responsible or liable in any way for the actions or omissions of any
Buyers. The Supplier agrees that all XPEDIZE Closing Timing will be
set-up by Xpedize on a business day for the respective Buyer.
3.2 Effect of using the Service. The Supplier acknowledges and agrees that
the effect of using the Service results in the Supplier and Buyer varying
any agreed payment terms solely related to the selected invoices made
available through the Service and the Supplier and Buyer agree to an
accelerated payment of a selected invoice or invoices in exchange for a
discount on the invoiced amount through the Service
(the “Accelerated Payment”). By agreeing to the Accelerated Payment, the
Supplier agrees to accept the Accelerated Payment in full and final
settlement of any invoice that is subject to an Accelerated Payment and
the Supplier accepts and agrees that the Accelerated Payment discharges
and satisfies in full any amount claimed under such invoice. Accordingly,
the Supplier hereby waives its rights to claim the amount specified in
such invoice in return for the Accelerated Payment. The Supplier
acknowledges that the Buyer is a third-party beneficiary of this Section
3.2 and the Buyer may enforce the provisions contained herein. Supplier
acknowledges that they may be required to submit documents to the Buyer
in order to comply with local market tax regulations. In the event any
requested documents are not provided in the timeline specified by
either the Buyer or XPEDIZE Ventures Pvt Ltd, the Supplier may not
receive early payment of their invoice(s).
The Request File may require the Supplier, where appropriate, to post
an adjustment to its tax records (for example, in relation to turnover
taxes such as VAT, GST or equivalent local sales taxes referred to
hereafter as ‘VAT/GST’). If this is the case, the Supplier may in
certain countries, subject to local VAT/GST regulations in the relevant
country, treat the Request File as an appropriate document to adjust
VAT/GST records. The responsibility to ensure that there is an
appropriate document to adjust VAT/GST records, subject to relevant
local VAT/GST regulations, rests solely with the Supplier. In some
countries, the Request File may not show an updated VAT or GST
amount as it is not appropriate to adjust the relevant tax amount
charged on the original Supplier invoice. Please note that the
responsibility of ensuring that an accurate VAT/GST adjustment is
posted in the Supplier’s VAT records rests solely with the Supplier
and is not XPEDIZE’s responsibility. In particular, where the
Supplier has not charged VAT/GST on the original invoice, and
consequently the Request File shows no VAT/GST adjustment, it is
the Supplier’s sole responsibility to ensure that any manual
VAT/GST adjustments, which may be required under domestic legislation,
are made to the relevant VAT/GST records.
By accepting this clause the Supplier acknowledges that both the Buyer
and the Supplier have authorized XPEDIZE Ventures Pvt Ltd to issue the
Request File on their behalf whilst clearly showing the Buyer and Supplier
names and other relevant details.
3.3 Availability of Service. Notwithstanding anything to the contrary
stated herein, the Supplier acknowledges and agrees that the
availability of the Service is subject to the availability of connection
services to and within the Internet and to other network functions
within and around the Internet and that the Internet, by its nature,
is not fault tolerant and XPEDIZE shall not have any liability for any
breach of any representation, warranty or covenant of this Agreement
that arises out of or relates to the unavailability of such connection
services and other network functions for whatever reason.
3.4 Modification of Service. The Supplier understands and agrees that
XPEDIZE may modify the Service, their names, or the manner in which the
Service are made available, and that those modifications may create
differences in how the Supplier accesses the Service. The Supplier further
understands and agrees that XPEDIZE reserves the right to replace any
of the Service with services offering the same or more functionality than
its predecessor.
3.5 Supplier Services. Where agreed to in the sign up process or as
otherwise agreed between the Parties, XPEDIZE will provide the
Supplier Services to the Supplier.
3.6 Indemnity. The Supplier shall indemnify, defend and hold harmless
XPEDIZE and its directors, officers, members, managers and employees
from and against all claims, actions, liabilities, losses, expenses,
damages and costs (including reasonable attorneys’ fees), that may at
any time be incurred by reason of claim from any third party arising out
of or relating to a breach of this Agreement by the Supplier; any claim
from a Buyer arising out of the Supplier’s use or misuse of the Service,
or any claim that is inconsistent with a Supplier’s representations or
warranties to XPEDIZE contained in this Agreement.

4. PROPRIETARY RIGHTS
4.1 Title to Technology. All Intellectual Property Rights pertaining to
XPEDIZE, the Software, Market Statistics and the Service, in whole or in
part, shall be, vest with and remain the exclusive property of XPEDIZE
and its third party licensors. The Supplier shall not on its’ own
behalf or on behalf of any third party violate XPEDIZE’s Intellectual
Property Rights. 
4.2 Title to Transaction Information. As between the Parties, all
Intellectual Property Rights in Transaction Information supplied by
Supplier and/or its Authorized Users in connection with the Service
are and shall remain the exclusive property of Supplier. XPEDIZE makes
no claims, warranties or representations with regard to the ownership
of Transaction Information. Supplier grants to XPEDIZE a non-exclusive,
perpetual right and license to use any Transaction Information provided
in connection with the Service.
4.3 Title to Content. All title, right, and interest in and to any Content
submitted to XPEDIZE in the course of providing the Service shall remain
the property of the applicable Supplier or other third party owners.If all
or part of any Content becomes the subject of an actual or threatened
lawsuit or if XPEDIZE believes such Content may violate a third party’s
Intellectual Property Rights or applicable law, XPEDIZE will immediately
be entitled to remove such Content without incurring any liability to the
Supplier. All title, right and interest in and to content licensed by
XPEDIZE from third party licensors and utilized in the process of
providing the Service, if any, shall remain the exclusive property of
XPEDIZE or its third party licensors.
4.4 Suggestions. XPEDIZE shall have a royalty-free, worldwide, perpetual
and irrevocable license to use or incorporate into the Service any
suggestions, ideas, enhancement requests, feedback, recommendations or
other information provided by the Supplier and its Authorized Users
relating to the Service.
4.5 Supplier’s license to XPEDIZE. Supplier hereby grants a limited,
non-transferable license to XPEDIZE for XPEDIZE to use the Supplier’s
name, logos and trademarks to identify the Supplier as a user of the
Site and the Services for XPEDIZE’s marketing and public relations
purposes, including marketing materials, advertisements, customer
lists, press releases, presentations, and publications during the
term of this Agreement.

5. CONFIDENTIALITY AND DATA PROTECTION
5.1 Security. Each party agrees that, unless it has the prior written
consent of the other party, it will: (i) keep confidential at all times
the Confidential Information of the other party;  (ii) ensure that any
personnel or professional advisor to whom a party discloses the other
party’s Confidential Information is aware of, and complies with, this
clause 5.1. 
5.2 Disclosure required. The obligations of confidentiality in clause 5.1
do not apply to any disclosure:
(i)for the purpose of performing the Agreement or exercising a party’s
rights under the Agreement;
(ii)required by law (including under the rules of any stock exchange);
(iii)of Confidential Information which: (a) is publicly available through
no fault of the recipient of the Confidential Information or its 
personnel; or (b) was rightfully received from a third party without
restriction and without breach of any obligation of confidentiality;
or
(iv) by the Supplier if required as part of a bona fide sale of its 
business (assets or shares, whether in whole or in part) to a third party,
provided that the Supplier enters into a confidentiality agreement with
the third party on terms no less restrictive than this clause 5. 
5.3 Return of information. Except to the extent that a party has ongoing
rights to use Confidential Information, a party must, at the request of
the other party following the expiry or termination of the Agreement,
promptly return to the other party or destroy all Confidential
Information of the other party in the recipient party’s possession
or control.
5.4 Remedies. The Parties agree that, notwithstanding any other section
of this Agreement, the non-breaching Party shall be entitled to seek
equitable relief to protect its interests, including but not limited to
preliminary and permanent injunctive relief, as well as money damages.
Nothing stated herein shall be construed to limit any other remedies
available to the Parties. 
5.5 Disclosures to Governmental Entities. If a Party becomes legally
obligated to disclose Confidential Information (“Disclosing Party”) by
any governmental entity as a result of court order, subpoena or similar
legal action (“Compelled Disclosure”), the Disclosing Party will give
the other Party (if allowed) prompt written notice. The Disclosing Party
will cooperate with the other Party’s reasonable efforts to quash, modify
or challenge the Compelled Disclosure, and will disclose only such
information as is legally required. Notwithstanding anything herein to
the contrary, a Compelled Disclosure is not considered a breach of
Section 5.1 above.
5.6 Data Protection. To the extent XPEDIZE processes any Personal Data
as a result of providing the Service, the Supplier agrees that XPEDIZE
does so as Data Processor and that the Supplier is the Data Controller
in relation to such Personal Data and in relation to such Personal
Data: (i) XPEDIZE will process such Personal Data for the sole purpose
of providing the Service in accordance with the terms of this Agreement
and any lawful written instructions reasonably given to XPEDIZE by
Supplier from time to time; and (ii) Supplier will have in place
appropriate technical and organizational security measures against
unauthorized or unlawful processing of such Personal Data and against
accidental loss or destruction of, or damage to, such Personal Data.
For the purposes of this Agreement, the terms “Personal Data”,
“Data Processor” and “Data Controller” shall have the same meaning
as set out in the Data (Privacy and Protection) Bill, 2017, and any
subsequent laws passed by the Indian Government.

6. TERM AND TERMINATION
6.1 Term. This Agreement shall become effective on the date the
Supplier or any Authorized User first registers on the Site and
agrees to these terms and shall continue in force so long as the
Service is being provided by XPEDIZE to the Supplier.
6.2 Termination for Cause. XPEDIZE may terminate this Agreement if
(a)(i) the Supplier defaults under the terms, conditions and
warranties of this Agreement; (ii) such default is not cured within
Five (5) business days after notice of default is provided to the
Supplier; or (b) the Supplier terminates or suspends its business
activities, becomes insolvent, admits in writing its inability to
pay its debts as they mature, makes an assignment for the benefit of
creditors, or becomes subject to direct control of a trustee, receiver
or similar authority, or becomes subject to any bankruptcy or insolvency
proceeding under any applicable law.
6.3 Termination for Convenience. Either Party may terminate this Agreement
at any time for any reason at its sole discretion by providing the other
Party no less than thirty (30) days advance written notice thereof.
6.4 Effect of Termination. Upon termination of this Agreement consistent
with the terms herein, XPEDIZE may immediately discontinue Supplier’s
access to and use of the Service. Supplier shall promptly discontinue use
of any Service and destroy any Confidential Information that Supplier
has received from XPEDIZE.
6.5 Survival. Notwithstanding any termination of this Agreement,
“Confidentiality” shall survive termination of this Agreement
indefinitely, Section 9.3 (“Employee Solicitation”) shall survive for
a period of one (1) year, while Sections 3.6 (“Indemnity”), Section 4
(“Proprietary Rights”), Section 7 
(“Warranty; Disclaimer; Limitation of Liability”), and Section 8.5
(“Governing Law”) shall survive termination of this Agreement
indefinitely. All other rights granted hereunder will cease upon
termination.

7. DISCLAIMER; WARRANTY; LIMITATION OF LIABILITY.
7.1 Disclaimer. To the maximum extent allowed by law and except as
unambiguously and expressly set forth in this Agreement, the Service
Supplier Services are provided “as is” and XPEDIZE specifically
excludes and disclaims all implied warranties, conditions and
representations (including relation to quality, skill and care and
fitness for a particular purpose) connected with, related to or arising
out of this Agreement. XPEDIZE expressly excludes and disclaims any
representation, condition or warranty that access or use of the Service
will be error-free, secure or uninterrupted, or that information or
content will be accurate or timely. 
7.2 Supplier’s Warranty. Supplier represents and warrants that
(i) its Authorized Users have authority to act on behalf of the
Supplier; and (ii) all Transaction Information or other materials
submitted by the Supplier to XPEDIZE hereunder will not (A)
infringe on any third party’s rights, including any Intellectual
Property Rights, (B) violate any applicable law, statute, ordinance
or regulation; or (C) contain viruses, Trojan horses, worms,
time bombs, cancel bots or other similar harmful or deleterious
programming routines. Supplier warrants that: (i) it is duly 
organized, validly existing and in good standing under applicable law;
(ii) it has the power and authority to execute, deliver and perform under
this Agreement; and (iii) this Agreement constitutes a valid and binding
obligation enforceable in accordance with its terms. 
7.3 Limitation of Liability. To the maximum extent allowed by law, in no
event will XPEDIZE (and any XPEDIZE subcontractor) be liable for any loss
of profits or revenue, loss of business, loss of anticipated savings, loss
of use, business interruption, loss of data or costs of procurement of
substitute goods, technologies or services, cost of cover or punitive or
exemplary, or and direct, indirect, special, incidental or consequential
damages of any kind in connection with or arising out of the furnishing,
performance of or use of the Service or Supplier Services, whether alleged
as a breach of contract or tortious conduct, including negligence, even if
the Supplier has been advised of the possibility of such damages. In
addition, XPEDIZE (and any XPEDIZE subcontractor) will not be liable for
any damages caused by delay in delivery or furnishing the Service or
Supplier Services. XPEDIZE’s aggregate liability in contract, tort
(including negligence or breach of statutory duty), misrepresentation,
restitution or otherwise, arising in connection with the performance or
contemplated performance of this Agreement, will not, in any event,exceed
the greater of fees actually paid by Supplier to XPEDIZE pursuant to this
Agreement during the six (6) months prior to the occurrence of the breach
or incident asserted as causing damage or INR 1000/-.

8. GENERAL
8.1 Notices. Any notice required or permitted under the terms of this
Agreement shall be delivered in person, by fax, overnight courier
service, or mailed by registered postage prepaid, if to the Supplier:
to the address supplied by the Supplier during the sign-up process or
if to XPEDIZE: Attention:
XPEDIZE – Legal Notices, A-1101, BPTP Freedom Park Life, Sector 57,
Gurgaon- 122003, India.
All such notices shall be deemed to have been given upon receipt.
8.2 Third party rights. Save as expressly provided for in this Agreement,
this Agreement does not confer any rights on any person not a Party to
this Agreement.
8.3 Employee Solicitation. Both Parties acknowledge that each other’s
business is dependent upon being able to adequately staff projects with
qualified persons and adequately utilize its employees and independent
contractors. Neither Party shall, directly or indirectly, for itself,
or on behalf of any other person, firm, corporation or other entity,
whether as principal, agent, employee, stockholder, partner, member,
officer, director, sole proprietor, or otherwise, solicit, participate
in or promote the solicitation of the other Party’s employees or
independent contractors to leave the employ or service of the other
Party, during the period such employee or independent contractor is
working with the other Party and for one (1) year immediately following
the period for which such employee or independent contractor last
performed services for the other Party.
8.4 Terms. This Agreement is subject to change by XPEDIZE without notice,
and Supplier agrees to abide by the Agreement in effect each time that
Supplier accesses the Services. No waiver, amendment or variation to
this Agreement by Supplier shall be valid unless in writing and signed
by both Parties.
8.5 Miscellaneous. In the event that any provision of this Agreement
conflicts with governing law or if any provision is held to be null,
void or otherwise ineffective or invalid by a court of competent
jurisdiction: (i) such provision shall be deemed to be restated to
reflect as nearly as possible the original intentions of the Parties
in accordance with applicable law; and (ii) the remaining terms,
provisions, covenants and restrictions of this Agreement shall
remain in full force and effect. The failure of either Party to
enforce at any time any of the provisions of this Agreement shall
not be deemed to be a waiver of the right of either Party thereafter
to enforce any such provisions. Except or any obligation to make
payments, non-performance of either Party shall be excused to the
extent that performance is rendered impossible by Force Majeure.
Section headings are for ease of reference only and do not form
part of this Agreement. The Supplier acknowledges having read the
terms and conditions set forth in this Agreement, understands all
the terms and conditions, and agrees to be bound thereby. No
employee, agent, representative, or Affiliate of XPEDIZE has
authority to bind XPEDIZE to any oral representations or warranty
concerning the Service. Any written representation or warranty not
expressly contained in this Agreement will not be enforceable. 
8.6 Governing Language. This Agreement is entered into in the English
language. Any translation prepared for any reason shall be a 
non-binding accommodation of no legal effect, and the English
version of this Agreement shall govern. Without limiting the
generality of this Section 8.8, each of the Parties acknowledges
that: (i) it shall not assert any claim based upon any translation
or any discrepancy or purported discrepancy between such translation
and this English-language version of this Agreement; and (ii) any
such translation shall not be used to interpret this Agreement.
8.7 Assignment and subcontracting. Neither this Agreement nor any
rights under this Agreement may be assigned or otherwise transferred
by Supplier, in whole or in part, whether voluntarily or by operation
of law, without the prior written consent of XPEDIZE. Subject to the
foregoing, this Agreement will be binding upon and will inure to the
benefit of the Parties and their respective successors and assigns.
Notwithstanding anything to the contrary, XPEDIZE shall have the
right to subcontract any of its obligations hereunder to third parties.
8.8 Governing Law. This Agreement and any disputes or claims 
out of or in connection with it or its subject matter or formation
(including non-contractual disputes or claims) are governed by and
construed in accordance with the laws of India without reference to
conflict of laws principles. The parties irrevocably agree that the
courts of Gurgaon, Haryana have exclusive jurisdiction to settle any
dispute or claim arising out of or in connection with this Agreement
or its subject matter or formation (including non-contractual
disputes or claims). A Buyer may, as provided for in this Agreement,
enforce this Agreement against a Supplier pursuant to Section 3.2 of
this Agreement in any court of competent jurisdiction.
8.9 Dispute Resolution. Any dispute arising out of or in connection
with this Agreement, including any question regarding its existence,
validity or termination, shall be determined by Arbitration in
accordance with the Indian Arbitration Laws in force at the
commencement of the arbitration. The sole arbitrator shall be
appointed by Xpedize and corresponding arbitration proceedings
shall be legally binding on all the parties.
8.10 Independent Contractors. The relationship of XPEDIZE and the Supplier
established by this Agreement is that of independent contractors, and
nothing contained in this Agreement shall be construed or implied to
give either Party the power to direct or control the day-to-day
activities of the other or constitute the Parties as partners,
joint ventures, co-owners or otherwise as participants in a joint
or common undertaking.
</pre>
        </div>
        <div class="modal-footer">
          <form #usrForm="ngForm" (ngSubmit)="onSubmit()">
            
           <div style="text-align:left">
              <!-- <input class="col-lg-1" type="checkbox" name="iAgree" id="iAgree" ngModel required>  -->
              <span><p class="col-lg-11">By clicking "I ACCEPT", I agree to the <a routerLink="/terms" target="_blank">Terms</a> and confirm that I have read the <a routerLink="/privacy-policy" target="_blank"><span>Data Use Policy</span></a> including <a routerLink="/privacy-policy" target="_blank">Cookie</a> Use.</p></span>
              <!-- <label for="iAgree"></label> -->
              
           </div>
              <div class="form-group">
                <input type="text" name="pan" id="pan" ngModel class="form-control" required placeholder="Enter Your Company PAN" maxlength="10" minlength="10" autocomplete="off">
                <!-- <div *ngIf="pan.invalid" class="text text-danger">Please Enter A Company PAN Number</div> -->
                <br>
                <input type="text" name="add" id="add" pattern="[0-9]{10}" ngModel class="form-control" required maxlength="10" minlength="10" autocomplete="off" placeholder="Enter your 10 Digit Mobile Number to receive Notifications" autocomplete="off">
                <div class="text-warning" style="float:left">Please donot 'Refresh' on this screen</div>
              </div>
            <button class="btn btn-success" type="submit" [disabled]="usrForm.invalid">I ACCEPT</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onReject()">Back</button>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</div>
<ngx-loading [show]="showWaiting"></ngx-loading>