<header class="main-header bg_shadow">
	<!-- Logo -->
	<a href="" class="logo"><img src="assets/image/logo.png" height="40px"></a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top h_20" role="navigation">
	  <!-- Sidebar toggle button-->
	  <a href="#" class="sidebar-toggle gry_color" data-toggle="offcanvas" role="button">
		<span class="sr-only">Toggle navigation</span>
	  </a>
	  <div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
		  <!-- Messages: style can be found in dropdown.less-->

		  <!-- Notifications: style can be found in dropdown.less -->
		  <li class="dropdown notifications-menu">
			<a href="#" class="dropdown-toggle gry_color" data-toggle="dropdown">
			  <i class="fa fa-bell-o"></i>
			  <span class="label label-warning">10</span>
			</a>
			<ul class="dropdown-menu">
			  <li class="header">You have 10 notifications</li>
			  <li>
				<!-- inner menu: contains the actual data -->
				<ul class="menu">
				  <li>
					<a href="#">
					  <i class="fa fa-users text-aqua"></i> Lorem ipsum dolor sit amet
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-warning text-yellow"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-users text-red"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				  </li>

				  <li>
					<a href="#">
					  <i class="fa fa-shopping-cart text-green"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				  </li>
				  <li>
					<a href="#">
					  <i class="fa fa-user text-red"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</a>
				  </li>
				</ul>
			  </li>
			  <li class="footer"><a href="#">View all</a></li>
			</ul>
		  </li>
		  <!-- Tasks: style can be found in dropdown.less -->

		  <!-- User Account: style can be found in dropdown.less -->
		  <li class="dropdown user user-menu">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="    padding-top: 10px;
padding-bottom: 10px; background: #ffffff">
			  <img src="assets/dist/img/m_logo.png" height="25px">
			</a>
		  </li>
		</ul>
	  </div>
	</nav>
  </header>