/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.switch-small {
    width: 31px !important;
    height: 17px !important;
    border-radius: 20px;
}

.switch-small>small {
    width: 18px !important;
    height: 17px !important;
}

.mat-menu-content {
    width: 229px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.main-sidebar {
    height: 92.7%;
}

.container-fluid {
    margin-bottom: 48px;
}

@media only screen and (max-width:767px) {
    .logo {
        text-align: center !important;
        background: white !important;
        height: 75px;
    }
    .logo>img {
        width: 100px;
        /* width: 155px;
        height: 95px;
        padding-top: 5px; */
    }
    .mobileToggleMenu {
        font-size: 16px;
        font-weight: 600;
    }
    .sidebar-toggle {
        padding: 2px 15px !important;
    }
    .tbl_sec1_tr1_h5 {
        font-size: 14px;
    }
    .main-header {
        min-height: 120px;
    }
    .isPageTitle {
        display: flex !important;
        justify-content: center;
        padding: 0px !important;
        color: dodgerblue;
        font-size: 20px;
    }
    .notifications-menu {
        padding: 0px !important;
    }
    .pd_t_0 {
        margin-left: 230px !important;
    }
    .bg_w_logo {
        display: none;
    }
    .main-sidebar {
        height: auto;
        margin-top: 100px;
        width: 200px;
        padding-top: 0px !important;
    }
    .navbar-nav>li>a {
        padding-right: 29px;
    }
    .isUserName {
        padding-right: 0 !important;
        padding-left: 73px !important;
    }
    .dropdown-toggle {
        padding-right: 5px !important;
        margin-right: 5px;
        padding-left: 5px !important;
        padding-top: 5px !important;
    }
    .content-header {
        display: inline-block;
        padding-top: 10px;
    }
    .text-left {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .text-left>h4 {
        font-size: 16px !important;
    }
    .isHeadingInputList>p {
        font-size: 18px;
    }
    .isHeadingInputList {
        text-align: center;
    }
    .paymentDate {
        font-size: 18px !important;
        margin: 0px;
    }
    .isRemovePadding {
        margin-top: 0px !important;
    }
    .countPercentage {
        display: flex;
    }
    .countPercentage>img {
        right: 101px !important;
    }
    .f_17 {
        font-size: 16px !important;
    }
    .f_blue {
        text-align: center;
        margin-top: 0px !important;
        margin-bottom: 7px;
    }
    .isalignItem {
        text-align: center;
    }
    .isResposive {
        margin-bottom: 10px !important;
        overflow: unset;
        width: 1120px;
    }
    .chat {
        width: 1120px;
    }
    .table_bg {
        width: 1120px;
    }
    .isCommon {
        font-size: 14px !important;
    }
    .ngx-pagination {
        text-align: center;
        padding-left: 0px;
    }
    .pd_b_10 {
        text-align: left;
    }
    .isCommonScroll {
        border: 1px solid #ccc;
        border-radius: 10px;
        overflow: auto;
    }
    .table-responsive {
        overflow: unset;
    }
    .isSubmitbtn {
        width: 100% !important;
    }
    .isGlobalRemoveBorder {
        border: none;
    }
    .buyer-descount-setter {
        width: 400vw;
    }
    .isbuyercenter {
        display: block;
    }
    .isUiSift {
        margin-left: 19px !important;
    }
    .isUiSift1 {
        margin-left: 40px !important;
    }
    .isMarginBottom {
        margin-bottom: 20px !important;
    }
    .isReferesh {
        text-align: left !important;
    }
    .supplierOffer {
        padding-top: 10px;
    }
    .isUserListScroll {
        overflow: scroll;
    }
    .user-list-scroll {
        width: 100%;
    }
    .isUiSift2 {
        margin-left: 9px !important;
    }
    .isDesktopToggle {
        display: none;
    }
}

@media only screen and (min-width: 1224px) {
    /* Styles */
    .isMobileToggle {
        display: none;
    }
}